/* Base */
/* ----------------------------------------------------------*/
body{
  margin: 0px;
}
.site-header {
  /* border-bottom: 1px solid #e8e8e8; */
  text-align: center;
  font-size: 32px;
  min-height: 56px;
  color:#828282 ;
  background-color: #1abc9c;
} 
.module-header {
    font-size: 24px;
    color:#8C1515;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .materials-wrap {
    font-size: 18px;
  }
  .materials-item a{
    color: #333;
    display: block;
    padding: 3px;
  }
  .materials-item {
    border-bottom: 1px solid #CCC;
  }
  .materials-item:nth-child(even) {
    background-color: #f7f6f1;
  }
  
.wrap {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

.title-wrap {
  text-align: center;
}
.page-content {
  padding: 30px 0;
  background-color: #fff;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 56px;
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: 100;
}

.post-header { margin: 10px 0 30px; }

.post-content { margin: 0 0 30px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:scroll;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.kw {
  font-size: 20px;
  color: #08A;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: rgb(122, 90, 90);
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* Site footer */

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 270px; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 175px; /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px
}
.footer-col-3 {
  width: 335px; /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


/* Page Content styles */