/* Base */
/* ----------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

.site-header {
  /* border-bottom: 1px solid #e8e8e8; */
  text-align: center;
  font-size: 32px;
  min-height: 56px;
  color:#e9dede ;
  background-color: #070707;
} 
.module-header {
    font-size: 24px;
    color:rgb(3, 0, 192);
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .materials-wrap {
    font-size: 18px;
  }
  .materials-item a{
    color: #333;
    display: block;
    padding: 3px;
  }
  .materials-item {
    border-bottom: 1px solid #CCC;
  }
  .materials-item:nth-child(even) {
    background-color: #f7f6f1;
  }
  
.wrap {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

.title-wrap {
  text-align: center;
}

/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
}

.post-content p {
  text-align: justify;
}

/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 30px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:scroll;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* Syntax highlighting styles */

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 56px;
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: 100;
}

.post-header { margin: 10px 0 30px; }

.post-content { margin: 0 0 30px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:scroll;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.kw {
  font-size: 20px;
  color: #08A;
  /* margin-left: 10px; */
}

.kw-1 {
  margin-top: 20px;
  color: rgb(7, 7, 7);
}


/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: rgb(122, 90, 90);
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* Site footer */

.site-footer {
  border-top: 2px solid #e8e8e8;
  margin-top: 30px;
  padding: 20px 0;
}

.footer-copyright {
  font-size: 16px;
  text-align: left;
}

/* Custom CSS for pages */
.figcenter {
  text-align: center;
}
.fig img {
  max-width: 98%;
}
.figleft img {
  max-width: 50%;
  float: left;
  margin-right: 20px;
}
.figleft svg {
  float: left;
  margin-right: 20px;
}
.fighighlight {
  /* background-color: #f7f6f1; */
  padding: 20px 4px 20px 4px;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  /* box-shadow: 0px 2px 5px #CCC, 0px -2px 5px #CCC; */
}
.figcaption {
  font-weight: 400;
  font-size: 14px;
  color: #575651;
  text-align: justify;
}